@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap");

body {
  font-family: "Merriweather", serif;
  margin: 0;
  padding: 0;
  height: 100%;
  /* background: linear-gradient(to left, #ffffff 50%, #e0ddd5 50%); */
}

/* @media (min-width: 1400px) {
  .container{
      max-width: 1192px;
  }
} */

@media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1192px !important;
  }
}

.producten {
  display: flex;
  justify-content: space-between;
}
.onderste-rij {
  display: flex;
  justify-content: space-evenly;
  width: 1331px;
}

.foto2 {
  display: flex;
  justify-content: flex-end;
}

.f0 {
  display: flex;
  justify-content: flex-start;
}

.f1 {
  display: flex;
  justify-content: center;
}

.f2 {
  display: flex;
  justify-content: flex-end;
}
.pro2 {
  margin-top: 120px;
}

.loginDivs-container {
  display: flex;
  flex-direction: row;
}

.loginDivs {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 100px;
  border-bottom: 5px solid white;
  text-decoration: none;
}
.loginDivs:hover {
  cursor: pointer;
}
.loginDivs.active {
  border-bottom-color: black;
}

.login-p {
  text-decoration: none;
  color: black;
}

.login-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin-top: 50px;
}

.h4 {
  margin-top: 20px;
}

#login {
  display: flex;
  justify-content: center;

  width: 400px;
  height: 1200px;
  display: none;
  background: #e0ddd5;
  z-index: 1;
  position: absolute;
  top: 0px;
  right: 0;
}

/* Dion */

a {
  text-decoration: none;
}

.navigation {
  background-color: #FFFFFF !important;
}

.icon-link {
  color: #333333 !important;
  padding: 0.5rem;
}

.icon-link:hover {
  color: #333333;
}

.nav-link {
  color: #333333 !important;
}

.navbar-brand {
  padding: 0 !important;
}

.banner {
  background-image: url(/images/banner.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  height: 60vh;
  padding: 0;
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.content {
  padding: 2rem;
}

.subtitle {
  margin: 0;
}

.title {
  font-size: 2rem;
}

.product-title {
  margin-top: 1rem;
}

/*  Slider */

.slide-in-div {
  position: fixed;
  top: 0;
  right: -100%;
  width: 25%;
  height: 100%;
  background-color: white;
  z-index: 9999;
  transition: right 0.5s ease-in-out;
}

.slide-in-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  font-size: 24px;
  font-weight: bold;
  color: #333;
  border-bottom: 5px solid #fff;
  transition: border-bottom 0.5s ease-in-out;
  text-decoration: none;
}

.slide-in-link:hover {
  text-decoration: none;
  
}
.slide-in-link.active {
  border-bottom-color: #000;
}

.slide-in-image {
  max-height: 200px;
  margin: 20px auto;
  display: block;
}

.slide-in-div h3 {
  font-size: 36px;
  margin-bottom: 20px;
}

.slide-in-div p {
  font-size: 24px;
  margin-bottom: 10px;
}

.slide-in-form-container {
  width: 75%;
}

.slide-in-form-group {
  width: 100%;
}

.slide-in-btn {
  width: 100%;
}

.tabcontent {
  display: none;
}

.tabcontent:target {
  display: block;
}

.tablink {
  display: inline-block;
  padding: 10px;
  background-color: #ccc;
  color: #000;
}

.tablink:hover {
  background-color: #aaa;
}
