body {
    background-color: beige;
}

.slide-in-div {
    position: fixed;
    top: 0;
    right: -100%;
    width: 25%;
    height: 100%;
    background-color: white;
    z-index: 9999;
    transition: right 0.5s ease-in-out;
  }
  
  .slide-in-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    border-bottom: 5px solid #fff;
    transition: border-bottom 0.5s ease-in-out;
    text-decoration: none;
  }
  
  .slide-in-link:hover {
    text-decoration: none;
    
  }
  .slide-in-link.active {
    border-bottom-color: #000;
  }

  .slide-in-image {
    max-height: 200px;
    margin: 20px auto;
    display: block;
  }
  
  .slide-in-div h3 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .slide-in-div p {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .slide-in-form-container {
    width: 75%;
  }
  
  .slide-in-form-group {
    width: 100%;
  }
  
  .slide-in-btn {
    width: 100%;
  }

  
  

  
  
