body {
  margin: 0;
  font-family: Cambria, Georgia, serif;
}

.color1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  background-color: #e0ddd5;
}

.modelRow {
  width: 125px;
  height: 70%;
  margin-right: 50px;
  margin-bottom: 50px;
  margin-top: 50px;
}

.model {
  width: 300px;
  height: 70%;
  background-color: white;
  margin-top: 50px;
}

.foto {
  height: 22.5%;
  width: 80px;
  margin-top: 20px;
  background-color: white;
}
