.product {
    height: 300px;
    width: 200px;
    margin: 10px;
    border: 1px solid black;
    text-align: center;
    display: inline-block;
  }
  .product img {
    max-height: 200px;
    max-width: 200px;
  }
  .product h2 {
    margin: 0;
  }
  .product p {
    margin: 0;
  }