body {
  margin: 0;
}
.background {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100%;
}

.color1 {
  width: 50%;
  background-color: #e0ddd5;
}

.color2 {
  width: 50%;
  background-color: white;
}
.titel {
  position: absolute;
  text-align: center;
}
