@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap');

body {
  font-family: 'Merriweather', serif;
  margin: 0;
  height: 100%;
  background: linear-gradient(to left, #ffffff 50%, #e0ddd5 50%);
}

/* @media (min-width: 1400px) {
  .container{
      max-width: 1192px;
  }
} */

@media (min-width: 1400px){
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl{
    max-width: 1192px !important;
  }
}


.titel {
    display: flex;
    justify-content: center;
    font-size: 75px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}
.logo{
  position: absolute;
}
.logo img{
  height: 100px;
}

.custom_nav{
  display: flex;
  justify-content: center;
}

.custom_nav a{
  padding: 30px;
  text-decoration: none;
  color: black;
  font-size: 20px;
}

.height {
    width: 138px;
    height: 200px;
    object-fit:cover ;
}

.producten {
  display: flex;
  justify-content: space-between;
}
.onderste-rij {
    display: flex;
    justify-content: space-evenly;
    width: 1331px;
}

.foto2{
  display: flex;
  justify-content: flex-end;
}

.f0{
  display: flex;
  justify-content: flex-start;
}

.f1{
  display: flex;
  justify-content: center;
}

.f2{
  display: flex;
  justify-content: flex-end;
}
.pro2 {
  margin-top: 80px;
}